<div class="header-container">
    <!-- Outlet for MFE1 (Header) -->
    <router-outlet name="header"></router-outlet>
    <a routerLink="/users/list">users-list</a>
    <a routerLink="/users/detail">users-Detail</a>
</div>

<div class="main-container">
    <div class="sidebar-container">
        <!-- Outlet for MFE2 (Sidebar) -->
        <router-outlet name="sidebar"></router-outlet>
    </div>

    <div class="content-container">
        <!-- Default router-outlet for additional content -->
        <!-- <router-outlet name="content"></router-outlet> -->
        <router-outlet></router-outlet>
    </div>
</div>

<div class="footer-container">
    <!-- Outlet for MFE3 (Footer) -->
    <router-outlet name="footer"></router-outlet>
</div>

