<div class="users">
  <h1>USERS APP COMPONENT</h1>

  <div>
    <h1>Internal routing</h1>
    <div class="btn-container">
      <!-- <a routerLink="/users/detail">DETAIL FROM APP COMPONENT</a>
      <a routerLink="/users/list" >LIST FROM APP COMPONENT</a> -->
      <!-- <a [routerLink]="['/list', {outlets: 'internal'}]" >Vai alla lista</a> -->
      <a [routerLink]="[{ outlets: { internal: ['list'] } }]">Vai alla lista</a>
      <a [routerLink]="[{ outlets: { internal: ['detail'] } }]">Vai al dettaglio</a>


    </div>
  </div>
  <router-outlet name="internal"></router-outlet>
  <!-- <router-outlet></router-outlet> -->
</div>
