.btn-container {
  display: flex; 
  justify-content: space-around; 
  background-color: #333; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.btn-container a {
  display: inline-block; 
  padding: 15px 20px; 
  background-color: #444; 
  color: white;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-container a:hover {
  background-color: #555; 
}

.page {
  border: 4px dotted red;
}