footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 4px dotted red;
    
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-links li {
    margin: 0 15px;
}

.footer-links li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footer-links li a:hover {
    color: #f4f4f4;
    text-decoration: underline;
}
